{% load staticfiles %}

{% include "base/header_small.html" %}

	<body class="index">
		<section id="page">
			<section id="content" class="clear">
				<div class="left ">
					<span class="title">Organizar</span>
					<br/><img class="logo" src="/media/img/logo.png" />
				</div>
				<div class="right">
					<div class="clear">
						<form action="/" method="post">{% csrf_token %}
							<div style="width: 100%;">
								{% for field in form %}
									<div class="form-field">
										{% if field.errors %}<div class="error"> {% for error in field.errors %}{{ error }}{% endfor %}</div>{% endif %}
										<label class="control-label {% if field.errors %}error{% endif %}">{{ field.label }}</label> 
										{{ field }}
									</div>
								{% endfor %}
							</div>
							<input class="button" type="submit" style="min-height: 40px; line-height: 40px; width: 200px;" name="submit-login" id="submit-login" value="Einloggen" />
						</form>
					</div>
					<a style="margin-top: 0px; font-size: 9px; text-align: left;  margin-left: 14%; display: block;" href="#">Passwort vergessen</a> 
				</div>
			</section>
			<div>
				<p style="font-size: 12px;">
					<br/><br/><br/><br/>
					<a href="http://organizar.de"/>Impressum</a>
				</p>
			</div>
		</section>
<script>
new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!'
  }
})
</script>
<div id="app">
  <p>{{ message }}</p>
</div>

	</body>
</html>
