{% load i18n %}
	<header id="header">
		<div class="bg"></div>
		<div id="logo" class="">
			<div class="bg"></div>
			<div class="content"  id="trigger-overlay">{% trans "MENU" %} </div>
			<!-- <img src="/media/img/book_black.png" alt="Menü"/>
			organizar.de -->
		</div>
		<div class="inner-wrapper">
			<div id="cal-nav" style="margin-bottom: 20px;">
				<div class="navigation">
					<button id="prev-week" class="button">&lt;&lt;</button>
					<button id="prev-day" class="button">&lt;</button>
					<span id="cal-date"></span> <input type="hidden" id="main-datepicker">
					<button id="next-day" class="button">&gt;</button>
					<button id="next-week" class="button">&gt;&gt;</button>
					<button id="cal-go-to-today" class="button">Heute</button>
				</div>

				<!--<a href="/"  class="button" style="float: left;"><img src="/media/img/home.png" alt="Startseite"/></a>-->

				{% if request.user.is_superuser %}
					<span class="sort-calendar">
						<button class="button" id="cal-action-sort-by-lead">{% trans "persons" %}</button><button id="cal-action-sort-by-room" class="button">{% trans "rooms" %}</button>
					</span>
					<br/>
					<!-- 
					<div class="form-field clear" style="margin: 20px 0 0 0">
						<label for="cal-go-to-date" style="margin: 0 0 0 100px;">springe zu Datum</label>
						<div style="width: 300px;float: left; ">
							<input type="text" id="cal-go-to-date" name="cal-go-to-date" style="width: 100%"/>
						</div>
						<button id="cal-action-show-date" class="button">Anzeigen</button>
					</div>
					 -->
					<div class="form-field clear" style="margin: 20px 0 0 0;">
						<label for="cal-search-person" style="margin: 0 0 0 100px;">{% trans "buttonSearchPerson" %}</label>
						<div style="width: 300px; float: left;">
							<input type="text" id="cal-search-person" name="cal-search-person" style="width: 100%"/>
						</div>
						<div id="users-list"></div>
					</div>
				{% else %}
					{% if request.user.first_name %}<h5>Hallo {{ request.user.first_name }}</h5>{% endif %}
				{% endif %}
			</div>
			<div class="logout">
				<a class="button" href="/logout/">{% trans "logout" %}</a>
			</div>
	
			
		</div>
	</header>
